.ship {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  color: $brownLight;
  position: relative;
  &__img {
    img {
      max-width: 435px;
    }
  }
  &-info {
    height: 30px;
    display: flex;
    align-items: center;
    &__level {
      font-size: 18px;
      font-weight: 600;
    }
    &__nation {
      margin-left: 15px;
      img {
        height: 30px;
        object-fit: contain;
        object-position: 50% 50%;
        transform: translateY(5px);
      }
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid $brownLight;
    padding: 10px 25px;
    margin-top: 15px;
  }
  &__description {
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    background-color: rgba($black, 0.6);
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.3s ease;
    p {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &:hover {
    .ship__description {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}
